<style>
   
  

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size:21px;
        margin-top:0px;
    }

    p {

        font-size:15px;
        margin-bottom:5px;
    }

    .comments-list .comment-body {

        padding-left:51px;
    }
    .comments-list li {
    margin-bottom: 25px;
}
  .fa-search {

        display:none;
    }
    .dropdown-toggle {
        display:none;
    }

    .well {
        background:#fff;
        border-bottom:transparent;
    }
</style>
  <img style="width:100%;" src="img/about.png" alt="Alternate Text" />
<div class="well">
    <h4>About US</h4>
 
 
    <p>
        Nathdwaramart is a Website and Android app that provides Information about Local Business and Services that is require in Daily Needs.It provides Information about all Government,Public and Private Department.
    </p>

 

</div>








