<style>
   
  

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size:21px;
        margin-top:0px;
    }

    p {

        font-size:15px;
        margin-bottom:5px;
    }

    .comments-list .comment-body {

        padding-left:51px;
    }
    .comments-list li {
    margin-bottom: 25px;
}
  .fa-search {

        display:none;
    }
    .dropdown-toggle {
        display:none;
    }
</style>
  <img style="width:100%; max-height:200px;" src="img/15.jpg" alt="Alternate Text" />
<div class="well">
 
 
    <p>
  Nathdwara Mart is a Website and Android App that provides Information about Local Business and Services that is require in Daily Needs. Its provide information about all Government, Public and Private Department.
    </p>

 
</div>








