<style>
    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size: 21px;
        margin-top: 0px;
    }

    p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .comments-list .comment-body {
        padding-left: 51px;
    }

    .comments-list li {
        margin-bottom: 25px;
    }

    .fa-search {
        display: none;
    }

    .dropdown-toggle {
        display: none;
    }

    .well {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }


        .well .btn {
            padding-left: 17px;
            padding-right: 17px;
            margin: 0 auto;
            text-align: center;
            width: 100%;
        }

    .table {
        margin-bottom: 5px;
    }

    table .btn {
        padding-left: 7px;
        padding-right: 7px;
        width: 100%;
        text-align: center;
        border-radius: 0px;
        text-transform: capitalize;
        height: 50px;
        line-height: 50px;
    }
</style>
<img style="width: 100%; background-color:brown; margin-top:5px;" src="img/help.png" alt="Alternate Text" />
<div class="well">



    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>Police
                </td>
                <td>100</td>
            </tr>

            <tr>
                <td>CM Helpline
                </td>
                <td>181</td>
            </tr>

            <tr>
                <td>Emergency
                </td>
                <td>108</td>
            </tr>

            <tr>
                <td>Nirbhaya helpline
                </td>
                <td>1090</td>
            </tr>

            <tr>
                <td>Lokayukt ujjain
                </td>
                <td>0734-2518882</td>
            </tr>

            <tr>
                <td>Adhar card
                </td>
                <td>1947</td>
            </tr>

            <tr>
                <td>Nagrik suvidha kendra
                </td>
                <td>155343</td>
            </tr>

            <tr>
                <td>Vidhut samasya


                </td>


                <td>18002331912
                   

                </td>
            </tr>

            <tr>
                <td>MP paryatan


                </td>


                <td>18002337777
                   

                </td>
            </tr>


            <tr>
                <td>Jago grahak jago


                </td>


                <td>1800111503
                   

                </td>
            </tr>


            <tr>
                <td>Divyang toll free


                </td>


                <td>1800222014
                   

                </td>
            </tr>

            <tr>
                <td>Railway suraksha


                </td>


                <td>122
                   

                </td>
            </tr>

            <tr>
                <td>Railway Enquiry


                </td>


                <td>139
                   

                </td>
            </tr>

            <tr>
                <td>Child line


                </td>


                <td>1098
                   

                </td>
            </tr>


            <tr>
                <td>Kisan call center

                </td>


                <td>1551
                   

                </td>
            </tr>


            <tr>
                <td>Aapada prabandhan

                </td>


                <td>1059
                   

                </td>
            </tr>

            <tr>
                <td>Shiksha vibhag

                </td>


                <td>155343
                   

                </td>
            </tr>


            <tr>
                <td>Fire bigrade

                </td>


                <td>101
                   

                </td>
            </tr>


            <tr>
                <td>Anti corruption 

                </td>


                <td>1800222021
                   

                </td>
            </tr>


            <tr>
                <td>Nasha mukti

                </td>


                <td>1800459459
                   

                </td>
            </tr>

            <tr>
                <td>Nasha mukti

                </td>


                <td>1800459459
                   

                </td>
            </tr>


            <tr>
                <td>Yuva paramarsh

                </td>


                <td>180116888
                   

                </td>
            </tr>

            <tr>
                <td>Anti ragging

                </td>


                <td>18001805522
                   

                </td>
            </tr>


            <tr>
                <td>Aids

                </td>


                <td>1097
                   

                </td>
            </tr>

        </tbody>
    </table>


</div>


<br />











