<style>
   
  

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size:21px;
        margin-top:0px;
    }

    p {

        font-size:15px;
        margin-bottom:5px;
    }

    .comments-list .comment-body {

        padding-left:51px;
    }
    .comments-list li {
    margin-bottom: 25px;
}
  .fa-search {

        display:none;
    }
    .dropdown-toggle {
        display:none;
    }

    .well {

        padding-bottom:0px;
        margin-bottom:0px;
      
    }


        .well .btn {
            padding-left:17px;
            padding-right:17px;
            margin:0 auto;
            text-align:center;
            width:100%;
        }

    .table {
        margin-bottom:5px;
    }

    table .btn {

        padding-left:7px;
        padding-right:7px;
        width:100%;
        text-align:center;
        border-radius:0px;
        text-transform:capitalize;
        height:50px;
        line-height:50px;
    }
</style>
  <img style="width:100%; max-height:200px;" src="img/101.jpg" alt="Alternate Text" />
<div class="well">
 
    <h4>Visit places</h4>
    <small>Distance calculate from bus stand Udiapole</small>
    <br />
    <table class="table">
        <thead><tr>
            <th>Place</th>

             <th>Distance</th>
        </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                   Lake palace
                </td>  
                <td>0.3 KM</td>  
            </tr>

             <tr>
                <td>
                  City palace
                </td>  
                <td>2.5 KM</td>  
            </tr>

             <tr>
                <td>
                   Fateh sagar
                </td>  
                <td>0.5 KM</td>  
            </tr>

             <tr>
                <td>
                  Sahelio ki bari
                </td>  
                <td>0.4 KM</td>  
            </tr>

              <tr>
                <td>
                Gulab bagh
                </td>  
                <td>1.5 KM</td>  
            </tr>

             <tr>
                <td>
            Sajjam garh
                </td>  
                <td>2.5 KM</td>  
            </tr>

             <tr>
                <td>
           Dudh talai
                </td>  
                <td>0.8 KM</td>  
            </tr>

            <tr>
                <td>

                 


                </td>


                  <td>

                   

                </td>
                </tr>

        </tbody>
    </table>
 

</div>







  



 
                       