<style>
   
  

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size:21px;
        
    }

    p {

        font-size:15px;
        margin-bottom:5px;
    }

    .comments-list .comment-body {

        padding-left:70px;
    }
    .comments-list li {
    margin-bottom: 30px;
}


      .comments-list li p {
    margin-bottom: -1px;
}

    .fa-search {

        display:none;
    }
  

    .avatar {
    width: 60px;
    height: 60px;
    border:2px solid brown;
}
    .well {
        border:transparent;
        margin-bottom:2px;
    }

    .darshan {
        color:#fff;
    }

    .darshan:first-letter {
  
    font-size: 30px;
    text-transform:uppercase;
}

    table td {
         border: 1px solid #dddddd;
    vertical-align: middle !important;
    font-size: 15px;
    color:#fff;
    }
     .mainloader {
        top:45%;
    }

    .head {
        color: #fff;
    margin-top: -29px;
    text-align: center;
    font-family: cursive;
    font-size:20px;
    }


    .well {
        padding:2px !important;
        margin-top:-5px;
    }
    .dropdown-toggle {
        display:none;
    }
</style>
<div data-ng-if="isload==true || isload=='true'" class="mainloader">
        <img style="width:60px;" src="img/loader.gif" alt="Alternate Text" />
    </div>

<div>
    <img style="width:100%; max-height:150px;" src="img/1.jpg" alt="Alternate Text" />

    <p class="head">Find Your target Location</p>
</div>

<div class="well">
    

    <!--<input style="border-radius:0px;" type="text" data-ng-model="Search" class="form-control" placeholder="Type to search" name="name" value=" " />-->
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">

                <label> From</label>
                <select class="form-control" ng-model="From">
                    <option value="">Select from</option>
                    <option value="{{obj.From}}" data-ng-repeat="obj in BusTimings | unique: 'From'">{{obj.From}}</option>
                </select>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label> To</label>
                    <select data-ng-model="Search" class="form-control">
                        <option value="">Select to</option>
                        <option value="{{obj.To}}" data-ng-repeat="obj in BusTimings | unique: 'To'">{{obj.To}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <table class="table table-bordered">

        <tr>
            <td class="blue"> BUS </td>
                 <td class="blue">FROM TO</td>
       
             <td class="blue">TIME </td>
            </tr>
        <tr data-ng-repeat="obj in BusTimings | filter:{From: From, To:Search}: true">
            <td  data-ng-class="{'purple': $index % 2 === 0 }" class="pink">
                <p class="darshan"> {{obj.Name}} </p>
            </td>
             <td style="color:#fff;" class="red">
                 {{obj.From}} to  {{obj.To}}
             </td>

              <td style="color:#fff;" class="green">
                 {{obj.BusTime}}
             </td>
        </tr>
    </table>
 
   
    

</div>






<script>
    $(document).ready(function () {
        var allSelectElements = document.getElementsByTagName('select');
        for (var i = 0; i < allSelectElements.length; i++) {
            allSelectElements[i].addEventListener('touchstart', function (e) {
                e.stopPropagation();
            }, false);
        }
    });
</script>

