<style>
   
  

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size:21px;
        margin-top:0px;
    }

    p {

        font-size:15px;
        margin-bottom:5px;
    }

    .comments-list .comment-body {

        padding-left:51px;
    }
    .comments-list li {
    margin-bottom: 25px;
}
  
</style>

<div class="well">
    <h4>Contact Us</h4>
 
    <p>
    Ramdwara, Near H.S. School  </p>
    <p>
    Nathdwara, Rajasthan, India </p>
    <p>
    P: 9772445552 , 8890638988  </p>
    <p> E: nathdwaramart@gmail.com
    </p>

    <hr />

  

    <ul class="comments-list">
              <li>
                <img src="img/user2.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Bhupesh jangid - MD </span>
                  <p>1234567892</p>
                </div>
              </li>
              <li>
                <img src="img/user3.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Nitesh singhvi - MD</span>
                  <p> 3214569872</p>
                </div>
              </li>
              <li>
                <img src="img/user2.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Krishna Jangid -CEO </span>
                  <p>9876543210</p>
                </div>
              </li>
              <li>
                <img src="img/user3.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Jayesh Kabra - Founder</span>
                  <p>8975321458</p>
                </div>
              </li>
            
            </ul>

</div>








