<style>
   
  

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size:21px;
        
    }

    p {

        font-size:15px;
        margin-bottom:5px;
    }

    .comments-list .comment-body {

        padding-left:80px;
    }
    .comments-list li {
    margin-bottom: 15px;
}


      .comments-list li p {
    margin-bottom: -1px;
}

    .fa-search {

        display:none;
    }
  


    .avatar {
    width: 70px;
    height: 70px;
    border:2px solid #ccc;
    border-radius:100%;
}
    .well {
        border:transparent;
        margin-bottom:2px;
        padding-bottom:0px;
    }

      .dropdown-toggle {
        display:none;
    }

      .comments-list .author {
    margin-bottom: 2px;
    display: inline-block;
    margin-top: 5px;
}
</style>

<div class="well">
    <h4 style="margin-top:0px;">Contact Us</h4>
 
    <p>
    Ramdwara, Near H.S. School  </p>
    <p>
    Nathdwara, Rajasthan, India </p>
    <p>
    9772445552 , 8890638988  </p>
    <p>Nathdwaramart@gmail.com
    </p>

   

    <ul style="margin-top:15px;" class="comments-list">
              <li>
                <img src="img/bhupesh.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Bhupesh jangid </span>
                    <p>Artist</p>
                  <p>9772445552</p>
                </div>
              </li>
              <li>
                <img src="img/nitesh.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Nitesh singhvi</span>
                    <p>MBA</p>
                  <p> 8890638988</p>
                </div>
              </li>
              <li>
                <img src="img/krishna.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Krishna Jangid - CEO </span>
                    <p>MCA</p>
                  <p>8559885552</p>
                </div>
              </li>
              <li>
                <img src="img/jayesh.jpg" alt="" class="avatar ">
                <div class="comment-body">
                  <span class="author uppercase">Jayesh Kabra</span>
                    <p>B.Tech</p>
                  <p>9619470102</p>
                </div>
              </li>
            
            </ul>


</div>








