<style>
    h1 {
        color: #fff;
    }

    .cat p {
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        padding: 3px;
        position: relative;
        font-family: cursive;
        margin-top: -29px;
        font-size: 17px;
    }

    .col-md-2 {
        padding-left: 3px;
        padding-right: 3px;
    }

    .swiper-slide {
        height: 150px;
        font-size: 31px;
        text-align: center;
        line-height: 113px;
        background: red;
        color: #fff;
        font-family: cursive;
    }



    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
        background: #ccc;
        opacity: .2;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fff;
    }

    .container {
        width: 101%;
        padding-left: 0px;
        margin-left:-1px;
        padding-right: 0px;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 30px;
        left: 0;
        width: 100%;
    }

    .categoryhead h5 {
        font-size: 22px;
        color: #6d6b6b;
        line-height: 19px;
        white-space: nowrap;
    }

    .categoryhead .col-xs-4 {
        text-align: center;
    }

    .categoryhead i {
        font-size: 27px;
        color: #6d6b6b;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .container .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftarrow {
        position: absolute;
        z-index: 100;
    }



    .mytextbox {
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .searcharea {
        position: fixed;
        width: 100%;
        top: 0px;
        height: 56px;
        background: #eee;
        z-index: 10;
        padding-left: 5px;
        padding-right: 5px;
    }

    .input-group-addon, .input-group-btn {
        width: auto;
        background: transparent;
    }




    .widget-products li .product {
        margin-left: 80px;
        margin-top: 7px;
      
        padding-bottom: 10px;
    }

    .widget-products li > a {
        min-height: 80px;
        display: block;
        width: 100%;
        color: #344644;
        padding: 0px 3px;
        position: relative;
        -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    }

    .widget-products {
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 175px;
        background: #fff;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    .listtable td {
        padding-bottom: 7px;
    }

    .listtable img {
        border-radius: 7px;
    }

    .listtable h3 {
        font-family: cursive;
    }

    .listtable h5 {
        color: #989393;
    }

    .mytextbox:focus {
        box-shadow: none !important;
    }

    .widget-products {
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 175px;
        background: #fff;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    ul li {
        list-style-type: none;
    }

    .widget-products li > a {
        min-height: 80px;
        display: block;
        color: #344644;
        padding: 3px 10px;
        position: relative;
        -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    }

    .widget-products a {
        cursor: pointer;
        text-decoration: none !important;
    }

    .img {
        height: 50px;
        width: 50px;
        white-space: nowrap;
        text-align: center;
        margin: 1em 0;
        float: left;
        color: #fff;
        line-height: 50px;
        margin-top: 20px;
        border-radius: 100%;
        position: absolute;
        background: #70b9f3;
        font-size: 25px;
    }

    .widget-products li .product {
        display: block;
        margin-left: 80px;
        margin-top: 7px;
        padding-bottom: 10px;
    }


    h5.list-group-item-heading {
        font-size: 14px !important;
        text-transform: uppercase;
        margin-top: 10px;
        padding-bottom: 0px;
        font-weight: 600;
    }

    .list-group-item-heading {
        margin-bottom: 1px;
        line-height: 20px !important;
        font-size: 14px !important;
        font-weight: 100;
        color: #000;
        padding-bottom: 3px;
        font-family: Verdana;
    }

    .img .thumbimg {
        vertical-align: middle;
        height: auto !important;
        width: auto !important;
        border: transparent !important;
        opacity: 1 !important;
        margin-left: -4px;
        max-height: 48px;
        max-width: 48px;
        border-radius: 0px;
    }

    .newlistitem {
        border-bottom: 1px solid #eaeaea;
    }

    #toolbar {
        background: #eaeaea;
    }

    .testp {
            visibility: hidden;
            font-size: 0px;
        }

            .testp::first-letter {
                visibility: visible;
               
                text-align: center;
                color: brown;
                font-size: 50px;
            
            }

    .fa-search {
        display:none;
    }
    .mainloader {
        top:45%;
    }


    .white {

        height:100px; width:100px; text-align:center;line-height:100px; margin:0 auto; border-radius:100%;
      
    }

    .well {
          color:#fff;
          margin-bottom:10px;
    }


    .center {

        text-align:center;
    }

     .dropdown-toggle {
        display:none;
    }

    .table-bordered i {
        font-size:14px;
        margin-right:3px;
        color:#3973b1;
    }

    .table-bordered td {
        vertical-align:middle;
    }
</style>





<div style="padding-left:0px; padding-right:0px;" class="well teal">
    <div class="row">
        <div class="col-xs-4">

            <a href="#/shop">
                <i style="margin-top:40px;" class="fa fa-arrow-left" ></i>

            </a>


        </div>

        <div style="text-align:center;" class="col-xs-4">

            <div class="white" >
                <p class="testp">
                    {{Currentshop.Name}}
                </p>
            </div>

        </div>

         <div class="col-xs-4"></div>
    </div>


    <div class="row">
        <div class="center col-md-12">
            <h4>   {{Currentshop.Name}}</h4>
               <h4>  <a href="tel:+91{{Currentshop.Contact1}}"> {{Currentshop.Contact1}} </a> </h4>
               <h5>   {{Currentshop.Address1}}</h5>
        

            

            
        </div>
    </div>
   


</div>


<div class="">
    <div class="row">
        <div class="col-md-12">

            <p>ABOUT</p>


            <!--<span data-ng-repeat="obj in Currentshop.Images">
                  <img style="width:75px; height:75px; margin-right:10px; margin-bottom:5px;" src="data:image/jpeg;base64,{{obj.ImageSrc}}"  data-ng-if="obj.ImageSrc!=null && obj.ImageSrc!=''" />
            </span>-->


            <p style="font-size:13px;">Owner of <span style="color:brown; font-weight:700;"> {{Currentshop.Name}} </span> Is {{Currentshop.OwnerName}}</p>
           

            <table class="table table-bordered">
              

                 <tr>
                    <td width="50%"><i class="fa fa-map-marker" ></i> Address </td>

                     <td width="50%">  {{Currentshop.Address1}}</td>

                  
                </tr>

                 

                  <tr>
                    <td><i class="fa fa-phone" ></i> Official Contact </td>

                     <td>  <a href="tel:+91{{Currentshop.Contact2}}">{{Currentshop.Contact2}}</a> </td>

                  
                </tr>

                  <tr>
                    <td><i class="fa fa-phone" ></i> Personal Contact </td>

                      <td>  <a href="tel:+91{{Currentshop.Contact1}}">{{Currentshop.Contact1}}</a> </td>

                  
                </tr>

                <tr>
                    <td><i class="fa fa-calendar" ></i> Availability </td>

                     <td>  {{Currentshop.AvailableDays}}</td>



                  
                </tr>

                <tr>
                    <td><i class="fa fa-envelope" ></i> Email </td>

                     <td>  {{Currentshop.Email}}</td>

                  
                </tr>

                  <tr>
                    <td><i class="fa fa-globe" ></i> Website </td>

                     <td>  
                         <a data-ng-click="gotourl(Currentshop.WebsiteUrl);">{{Currentshop.WebsiteUrl}}</a> </td>

                  
                </tr>

                  <tr>
                    <td><i class="fa fa-star" ></i> Description </td>

                     <td>  {{Currentshop.Description}}</td>

                  
                </tr>


                
            </table>

        </div>
    </div>

</div>








