

<style>
  
    h1 {

        color:#fff;
    }


    .cat p {

background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  
    padding: 3px;
    position: relative;
    font-family: Verdana;
    margin-top: -25px;
    font-size:14px;
    margin-bottom:4px;

    }



    .col-md-2 {
        padding-left:2px;
        padding-right:2px;
    }


    .swiper-slide {

       height: 150px;
    font-size: 31px;
    text-align: center;
    line-height: 113px;
   
    color: #fff;
    font-family: cursive;
    }

  

    .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #ccc;
    opacity: .2;
}

      .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

    .container {
        width:100%;
        padding-left:0px;
        padding-right:0px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
    left: 0;
    width: 100%;
}


    .categoryhead h5 {
        font-size:18px;
        color:#000;
        line-height:17px;
            white-space: nowrap
    }

    .categoryhead .col-xs-4 {
        text-align:center;
    }

       .categoryhead i {
      font-size: 27px;
   color:#6d6b6b;
    padding-top: 10px;
    padding-bottom:5px;
 
    }

    .container .row {
        margin-left:0px;
        margin-right:0px;
        background:#eaeaea;
        color:#333;
    }

    .leftarrow {
        position:absolute;
        z-index:100;
    }

    

    .mytextbox {
        width:100%;
        padding-top:7px;
        padding-bottom:7px;
    }

   .searcharea {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 56px;
    background: #eee;
    z-index: 10;
    padding-left:5px;
    padding-right:5px;
}

    .input-group-addon, .input-group-btn {
        width:auto;
        background:transparent;
    }


   

    .widget-products li .product {
      
        margin-left: 80px;
        margin-top: 7px;
        border-bottom:1px solid #ebebeb;
        padding-bottom:10px;
    }

    .widget-products li > a {
        min-height: 80px;
        display: block;
        width: 100%;
        color: #344644;
        padding: 0px 3px;
        position: relative;
        -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    }
     .widget-products {
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 175px;
        background: #fff;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
     .img {
    height: 75px;
    width: 75px;
    border: 1px solid #ccc;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    float: left;
    margin-top: 5px;
  
  
  
}

    .listtable td {

        padding-bottom:7px;
    }

    .listtable img {

        border-radius:7px;
    }

    .listtable h3 {
          font-family: Verdana;
    }

    .listtable h5 {
        color:#989393;
    }

    .mytextbox:focus {
    box-shadow:none !important;
    }

    .cd-top {
    height: 47px;
    width: 47px;
    color: #fff !important;
    background: #333333;
    position: fixed;
    left: 25px;
    bottom: 25px;
    border-radius: 100%;
    z-index: 100;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 4px;
    opacity: 1;
    visibility: hidden;
    line-height:32px;
}

    .cd-top.cd-is-visible {
    visibility: visible;
  
}

    .notwrap {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
   
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-word-break: break-all;
    word-break: break-all;
   
}


    .sharebtn {

        position: fixed;
    bottom: 23px;
    right: 25px;
    z-index: 13000;
    color: #fff !important;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 73px;
   
    cursor: pointer;
    padding: 0;
    }

        .sharebtn i {
             font-size: 35px;
        }



    .badge {

        position:absolute;
        margin-top:-25px;
        z-index:10;
        display:block;
        margin-left:5px;
        min-width:50px;

    }

    
</style>





<div style="display:none;" class="searcharea">

    <div style="margin-top:7px;" class="input-group">
        <span data-ng-click="showheader()" class="input-group-addon leftarrow"> 
            <i class="fa fa-arrow-left"></i>
        </span>
        <input placeholder="Type category to search" style="padding-left:60px; height:42px;" data-ng-change="GetCategories()" data-ng-model="Searchstring" type="text" class="mytextbox" name="name" value="" />
    </div>

  
</div>


<div data-ng-if="isload==true || isload=='true'" class="mainloader">
        <img style="width:60px; border-radius:100%;" src="img/loader.gif" alt="Alternate Text" />
    </div>




<div class="swiper-container">
<div class="swiper-wrapper">
     <div  style="background:#fff;" class="swiper-slide "> 
      <img style="width:100%; height:inherit"  src="img/36.jpg" alt="Alternate Text" />
</div>

     <div  style="background:#fff;" class="swiper-slide "> 
      <img style="width:100%; height:inherit"  src="img/37.jpg" alt="Alternate Text" />
</div>


<!--    <div ng-if="dynamicimage==false" style="background:#fff;" class="swiper-slide "> 
      <img style="width:100%; height:inherit"  src="img/36.jpg" alt="Alternate Text" />
</div>-->

     <div ng-if="dynamicimage==true" style="background:#fff;" class="swiper-slide" ng-repeat="_obj in FeaturedImages"> 

         <img style="width:100%; height:inherit" src="{{FeaturedImageUrl}}{{_obj.ImagePath}}" data-ng-if="_obj.ImagePath!=null && _obj.ImagePath!=''" imageonload1 />
         <img data-ng-if="_obj.ImagePath==null || _obj.ImagePath==''" src="img/23.jpg" alt="Alternate Text" />
</div>

     <!--

     <div style="background:#000;" class="swiper-slide">
          <img style="width:100%; height:inherit" src="img/50.jpg" alt="Alternate Text" />
    </div>

    <div style="background:red;" class="swiper-slide">
        <img style="width:100%; height:inherit" src="img/33.jpg" alt="Alternate Text" />
    </div>

   
<div style="background:#fff;" class="swiper-slide "> 
      <img style="width:100%; height:inherit"  src="img/35.jpg" alt="Alternate Text" />
</div>
   
   
     <div style="background:#fff;" class="swiper-slide "> 
      <img style="width:100%; height:inherit"  src="img/45.jpg" alt="Alternate Text" />
</div>-->

</div>
 
<div class="swiper-pagination"></div>
</div>



<div style="background:#cac6c6; margin-left:0px; margin-right:0px;" class="row">
    <div style="padding-left:0px; padding-right:0px; text-align:center;" class="col-xs-4">
         <img style="width:100%; border-right:2px solid #fff" data-ng-click="darshan()" src="img/namkeen.png" alt="Alternate Text" />
        <p class="badge">Namkeen</p>
    </div>
     <div style="text-align:center; padding:0px; text-align:center;" class="col-xs-4">
           <img data-ng-click="train()"style="width:100%; border-left:1px solid #fff; border-right:1px solid #fff;" src="img/ts.jpg" alt="Alternate Text" />
           <p class="badge" style="margin-left:7px;">Train</p>
     </div>
     <div style="padding-right:0px; padding-left:0px; text-align:center;" class="col-xs-4">
           <img style="width:100%; border-left:2px solid #fff" data-ng-click="bus()" src="img/bs.jpg" alt="Alternate Text" />
           <p class="badge" style="margin-left:9px;">Bus</p>
     </div>
</div>



<div class="categoryhead">
    <div class="row">

         <div style="padding-right:5px; text-align:left; padding-left:4px; margin-top:5px;" class="col-xs-4">
            <a onclick="window.open('https://www.facebook.com/My-Ratlam-793291270824125');">  <img style="height:30px; margin-top:2px;" src="img/facebook.png" alt="Alternate Text" /></a>
              <a onclick="window.open('https://twitter.com/my_ratlam');">  <img style="height:26px; margin-top:2px; margin-left:-1px;" src="img/twitter.png" alt="Alternate Text" /></a>
              <a onclick="window.open('http://www.myratlam.com/');">  <img style="height:26px; margin-top:2px; margin-left:-1px;" src="img/www.png" alt="Alternate Text" /></a>
      </div>

      <div style="padding-right:5px; padding-left:5px;" class="col-xs-4">
          <h5>Looks for </h5>
      </div>
      <div style="padding-right:7px;" class="col-xs-4">
          <div class="pull-right">
                <i style="margin-right:10px;" data-ng-click="showgrid()" class="fa fa-th"></i>
              <i data-ng-click="showlist()" class="fa fa-th-list"></i>
              
          </div>
      </div>
        </div>
</div>



<!--<button onclick="window.plugins.socialsharing.share('Message only')">message only</button>
<button onclick="window.plugins.socialsharing.share('Message and subject', 'The subject')">message and subject</button>
<button onclick="window.plugins.socialsharing.share(null, null, null, 'http://www.x-services.nl')">link only</button>
<button onclick="window.plugins.socialsharing.share(null, null, 'https://www.google.nl/images/srpr/logo4w.png', null)">image only</button>
<button onclick="window.plugins.socialsharing.share('Message and image', null, 'https://www.google.nl/images/srpr/logo4w.png', null)">message and image</button>
<button onclick="window.plugins.socialsharing.share('Message, image and link', null, 'https://www.google.nl/images/srpr/logo4w.png', 'http://www.x-services.nl')">message, image and link</button>
<button onclick="window.plugins.socialsharing.share('Message, subject, image and link', 'The subject', 'https://www.google.nl/images/srpr/logo4w.png', 'http://www.x-services.nl')">message, subject, image and link</button>

<button onclick="window.plugins.socialsharing.shareViaWhatsApp('Message via WhatsApp', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via WhatsApp (with errcallback)</button>
<button onclick="window.plugins.socialsharing.shareViaInstagram('Message via Instagram', 'https://www.google.nl/images/srpr/logo4w.png', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via Instagram</button>
<button onclick="window.plugins.socialsharing.shareViaFacebook('Message via Facebook', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via Facebook (with errcallback)</button>-->

 
<div data-ng-if="gridview==true" class="cat">
    <div style="margin-left:2px; margin-right:2px;" class="row">
    <div data-ng-repeat="obj in categories" class="col-md-2 col-xs-6">
        <div id="{{obj.ID}}" data-ng-click="gotoshop(obj.ID)" style="width:100%" >
            <img style="width:100%; height:150px; display:none;" src="{{ImageUrl}}{{obj.ImagePath}}"  data-ng-if="obj.ImagePath!=null && obj.ImagePath!=''" imageonload />
            <img data-ng-if="_obj.ImagePath==null || _obj.ImagePath==''" style="width:100%; height:150px;" src="img/23.jpg" alt="Alternate Text" />
              <img style="width:100%; height:150px; border:transparent" ng-if="_obj.ImagePath!=null && _obj.ImagePath!=''" src="img/loader1.gif" class="img-responsive img-thumbnail img-circle" alt="loading.." />
            <p class="notwrap">{{obj.Name}}</p>
        </div>
    </div>
     </div>
</div>



<div style="padding-left:6px; " data-ng-if="listview==true && isload==false"">
    
    <table  class="listtable" style="width:100%; background:#eaeaea;">
        <tr data-ng-repeat="_obj in categories">
            <td id="{{_obj.ID}}" data-ng-click="gotoshop(_obj.ID)" style="width:85px;">

           <img style="width:75px; height:75px;" src="{{ImageUrl}}{{_obj.ImagePath}}"  data-ng-if="_obj.ImagePath!=null && _obj.ImagePath!=''" imageonload1 />
            <img data-ng-if="_obj.ImagePath==null || _obj.ImagePath==''" style="width:75px; height:75px;" src="img/23.jpg" alt="Alternate Text" />

              
            </td>
             <td data-ng-click="gotoshop(_obj.ID)">
                 <h3 style="margin-bottom:5px; margin-top:1px">{{_obj.Name}}</h3>
                 <h5>{{_obj.Name}} Category</h5>
             </td>
        </tr>
      
    </table>
</div>


<a class="pink sharebtn" onclick="window.plugins.socialsharing.share('My Ratlam', null, null, 'https://play.google.com/store/apps/details?id=com.myratlam&hl=en')">
    <i class="fa fa-share-alt"></i>
</a>


<a class="cd-top" onclick="scrollToTop()" title="Go to top"><i class="fa fa-chevron-up"></i></a>
<script>

    var offset = 50;
    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
    var offset_opacity = 1200;
    //duration of the top scrolling animation (in ms)
    var scroll_top_duration = 700;
    //grab the "back to top" link
    var $back_to_top = $('.cd-top');

    function scrollToTop() {

        $('html, body').animate({ scrollTop: 0 }, 500, 'linear');
    }



    $(window).scroll(function () {
        ($(this).scrollTop() > offset) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        if ($(this).scrollTop() > offset_opacity) {
            $back_to_top.addClass('cd-fade-out');
        }
    });
</script>