<style>
    h1 {
        color: #fff;
    }

    .cat p {
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        padding: 3px;
        position: relative;
        font-family: cursive;
        margin-top: -29px;
        font-size: 17px;
    }

    .col-md-2 {
        padding-left: 3px;
        padding-right: 3px;
    }

    .swiper-slide {
        height: 150px;
        font-size: 31px;
        text-align: center;
        line-height: 113px;
        background: red;
        color: #fff;
        font-family: cursive;
    }



    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
        background: #ccc;
        opacity: .2;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fff;
    }

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 30px;
        left: 0;
        width: 100%;
    }

    .categoryhead h5 {
        font-size: 22px;
        color: #6d6b6b;
        line-height: 19px;
        white-space: nowrap;
    }

    .categoryhead .col-xs-4 {
        text-align: center;
    }

    .categoryhead i {
        font-size: 27px;
        color: #6d6b6b;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .container .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftarrow {
        position: absolute;
        z-index: 100;
    }



    .mytextbox {
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .searcharea {
        position: fixed;
        width: 100%;
        top: 0px;
        height: 56px;
        background: #eee;
        z-index: 10;
        padding-left: 5px;
        padding-right: 5px;
    }

    .input-group-addon, .input-group-btn {
        width: auto;
        background: transparent;
    }




    .widget-products li .product {
        margin-left: 80px;
        margin-top: 7px;
      
        padding-bottom: 10px;
    }

    .widget-products li > a {
        min-height: 80px;
        display: block;
        width: 100%;
        color: #344644;
        padding: 0px 3px;
        position: relative;
        -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    }

    .widget-products {
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 175px;
        background: #fff;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    .listtable td {
        padding-bottom: 7px;
    }

    .listtable img {
        border-radius: 7px;
    }

    .listtable h3 {
        font-family: cursive;
    }

    .listtable h5 {
        color: #989393;
    }

    .mytextbox:focus {
        box-shadow: none !important;
    }

    .widget-products {
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 175px;
        background: #fff;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    ul li {
        list-style-type: none;
    }

    .widget-products li > a {
        min-height: 80px;
        display: block;
        color: #344644;
        padding: 3px 10px;
        position: relative;
        -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    }

    .widget-products a {
        cursor: pointer;
        text-decoration: none !important;
    }

    .img {
        height: 50px;
        width: 50px;
        white-space: nowrap;
        text-align: center;
        margin: 1em 0;
        float: left;
        color: #fff;
        line-height: 50px;
        margin-top: 17px;
        border-radius: 100%;
        position: absolute;
        background: #70b9f3;
        font-size: 25px;
    }

    .widget-products li .product {
        display: block;
        margin-left: 80px;
        margin-top: 7px;
        padding-bottom: 10px;
    }


    h5.list-group-item-heading {
        font-size: 14px !important;
        text-transform: uppercase;
        margin-top: 10px;
        padding-bottom: 0px;
        font-weight: 600;
    }

    .list-group-item-heading {
        margin-bottom: 1px;
        line-height: 20px !important;
        font-size: 14px !important;
        font-weight: 100;
        color: #000;
        padding-bottom: 3px;
        font-family: Verdana;
    }

    .img .thumbimg {
        vertical-align: middle;
        height: auto !important;
        width: auto !important;
        border: transparent !important;
        opacity: 1 !important;
        margin-left: -4px;
        max-height: 48px;
        max-width: 48px;
        border-radius: 0px;
    }

    .newlistitem {
        border-bottom: 1px solid #eaeaea;
    }

    #toolbar {
        background: #eaeaea;
    }

    .testp {
            visibility: hidden;
            font-size: 0px;
        }

            .testp::first-letter {
                visibility: visible;
                line-height: 50px;
                text-align: center;
                color: #fff;
                font-size: 20px;
                
            
            }

    .fa-search {
        display:none;
    }
    .mainloader {
        top:45%;
    }
    .searchsec {

  position: fixed;
    top: 50px;
    width: 100%;
    padding: 14px;
    z-index: 10;
    padding-top: 0px;
    }

    #viewdata {
        margin-top:100px;
    }
    input {
        border-radius:0px !important;
    }
     .dropdown-toggle {
        display:none;
    }
</style>


<div data-ng-if="isload==true || isload=='true'" class="mainloader">
        <img style="width:60px;" src="img/loader.gif" alt="Alternate Text" />
    </div>




<div style="margin-bottom:0px;" class="searchsec red">
    <div class="">
        <input type="text" placeholder="Type to Quick search" class="form-control" data-ng-change="GetShops()" data-ng-model="Searchstring" name="name" value="" />
    </div>
</div>
<ul class=" widget-products">


    <li data-ng-if="totalrecord==true || totalrecord=='true'">

        <div style="background:#eeeeee;" class="well">
            <h4>Search not found</h4>
            <div style="background:#fff;" class="well">
                <p>Search Tips</p>
                <ol style="padding-left:0px; margin-left:0px;">
                    <li>1. Check for spelling mistakes in search box.</li>
                     <li>2. Try Using alternate terms</li>
                       <li>3. Try Specific shop or address</li>
                        <li>4. Select different category</li>
                </ol>
            </div>
        </div>

    
        </li>

  
    <li data-ng-repeat="obj in shops" class="newlistitem">

    


        <a data-ng-click="gotodetail(obj)" class="">
            <span data-ng-class="{'green': $index % 2 === 0 }" class="img purple">
                <p class="testp">{{obj.Name}}</p>
            </span>
        
                  <span class="product clearfix" >

                <h5 class="list-group-item-heading">

                    <span>{{obj.Name}}</span>

                </h5>

                <span class="list-group-item-text">
                    <span class="text" style="width: 30%">
                        <span style="display: block; font-size: 13px;">{{obj.Contact1}}
                        </span>

                        <span style="display: block; font-size: 13px;">{{obj.Address1}}
                        </span>


                    </span>

                </span>


                      </span>


           
        </a>





    </li>

</ul>



